<div class="w-[300px] rounded-md flex flex-col items-center justify-center">
  <div class="relative">
    <img
      src="assets/images/default-user.png"
      class="w-[100px] h-[100px] rounded-full"
      alt="User Image"
    />
    <span
      class="absolute material-symbols-outlined top-0 right-0 text-orange-500"
      >star</span
    >
    <span
      class="absolute w-[10px] h-[10px] bottom-[10px] right-[10px] bg-green-500 rounded-full"
      ></span
    >
  </div>
  <span class="space-x-4"></span>
  <span>Full Names</span>
  <span>Interpreter | Translator</span>
</div>
