<div
  class="fixed top-0 left-0 w-screen h-screen flex items-center justify-center bg-white gap-3"
>
  <div class="w-[300px] h-screen flex flex-col gap-3">
    <app-user-card></app-user-card>
    <app-navigation [verticalNav]="true" [hasLogo]="false"></app-navigation>
  </div>
  <div
    class="flex-grow max-w-[700px] h-screen overflow-y-auto overflow-x-hidden border-x-1 border-solid border-[#2E6969]"
  >
    <!-- *ngFor 10 instances of app-feed-item -->
    <ng-container *ngIf="showFeed">
      <!-- <div class="flex flex-col gap-3">
        <p [innerHTML]="highlightedParagraphs.question"></p>
        <p [innerHTML]="highlightedParagraphs.reply"></p>
      </div> -->

      <!-- <app-feed-item
        *ngFor="let item of feedItems | async"
        [feedItem]="item"
        (onFeedItemClick)="feedItemClicked(item)"
        (onFeedImageClick)="feedImageClicked($event, item)"
        (onFeedItemLike)="feedItemLike()"
      ></app-feed-item> -->

      <app-feed-item
        *ngFor="let item of feedItems"
        [feedItem]="item"
        (onFeedItemClick)="feedItemClicked(item)"
        (onFeedImageClick)="feedImageClicked($event, item)"
        (onFeedItemLike)="feedItemLike()"
      ></app-feed-item>
    </ng-container>
    <ng-container *ngIf="showFeedItem">
      <div>
        <span
          class="material-symbols-outlined"
          role="button"
          (click)="showFeeds()"
          >arrow_back</span
        >
        <!-- TODO: #1 Feed Item Type Title Goes here -->
        <span
          >{{ activeFeedItem.item_type }} -
          {{ activeFeedItem.item.title }}</span
        >
      </div>
      <app-feed-item [feedItem]="activeFeedItem"></app-feed-item>
    </ng-container>
    <ng-container *ngIf="showFeedImage">
      <app-feed-image
        [feedItem]="activeFeedItem"
        [activeImage]="activeFeedImage"
        (onImageClose)="closeImageView()"
      ></app-feed-image>
    </ng-container>
  </div>
  <div class="w-[300px] h-screen">
    <app-global-search-form></app-global-search-form>
  </div>
</div>
