<div class="w-full h-[71vh]" style="background-image: url('/assets/images/brwein.webp')">
    <div class="w-full h-full flex flex-col items-center justify-start gap-2">
        <form [ngClass]="{
            'relative border-1 border-solid flex items-center justify-center min-w-[60%] max-w-full bg-slate-50': true,
            'rounded-t-xl border-slate-200 mt-[50px]': hasSuggestions,
            'rounded-full border-slate-800 mt-[5px]': !hasSuggestions
          }" (submit)="onSuggestionClick(suggestion)">
            <input #searchInput (input)="hasSuggestions = (searchInput.value ? true : false); onSearchInput($event)"
                placeholder="Search anything" class="rounded-s-full w-full h-full flex-grow py-2 px-4 outline-none" />
            <span class="p-2 h-full flex items-center justify-center" role="button"><span
                    class="material-symbols-outlined">search</span></span>

            <div *ngIf="hasSuggestions"
                class="absolute left-0 right-0 top-[100%] p-3 shadow-md rounded-b-xl h-[40vh] bg-white border-slate-200 border-1 w-full overflow-y-auto">
                <!-- Loop through suggestedStrings and add span for each result -->
                <span *ngFor="let suggestion of suggestedStrings" class="block p-2 hover:bg-slate-100 cursor-pointer"
                    (click)="onSuggestionClick(suggestion)">{{ suggestion }}</span>
            </div>
        </form>
        <div [ngClass]="{'flex items-center justify-center': true, 'mt-[-100px]': hasSuggestions}">
            <a href="/ai"
                class="text-decoration-none text-[#2E6969] hover:text-orange-500 p-2 h-full flex items-center justify-center material-symbols-outlined"
                role="button">chat</a>
            <a href="/suppliers"
                class="text-decoration-none text-[#2E6969] hover:text-orange-500 p-2 h-full flex items-center justify-center material-symbols-outlined"
                role="button">shopping_cart</a>
            <a href="/courses"
                class="text-decoration-none text-[#2E6969] hover:text-orange-500 p-2 h-full flex items-center justify-center material-symbols-outlined"
                role="button">auto_stories</a>
            <a href="/forums"
                class="text-decoration-none text-[#2E6969] hover:text-orange-500 p-2 h-full flex items-center justify-center material-symbols-outlined"
                role="button">group</a>
            <a href="/library"
                class="text-decoration-none text-[#2E6969] hover:text-orange-500 p-2 h-full flex items-center justify-center material-symbols-outlined"
                role="button">stadia_controller</a>
            <a href="/videos"
                class="text-decoration-none text-[#2E6969] hover:text-orange-500 p-2 h-full flex items-center justify-center material-symbols-outlined"
                role="button">tv</a>
            <a href="/map"
                class="text-decoration-none text-[#2E6969] hover:text-orange-500 p-2 h-full flex items-center justify-center material-symbols-outlined"
                role="button">map</a>
        </div>
    </div>
</div>