<div
  class="flex flex-col gap-2 items-center justify-center w-[70%] min-w-[400px]"
>
  <span class="w-full text-2xl">Login in to your account</span>
  <span class="w-full text-sm text-slate-400 font-light"
    >Already have an account?
    <span role="button" class="text-slate-950 font-bold" (click)="showlogin()"
      >Signin</span
    ></span
  >
  <span
    role="button"
    class="w-full flex gap-2 p-2 items-center justify-center border-1 rounded-md border-slate-400"
  >
    <img
      src="https://developers.google.com/identity/images/g-logo.png"
      class="w-4"
    />
    <span>Sign up with Google</span>
  </span>
  <span class="relative h-[50px] w-full flex items-center justify-center">
    <span class="w-[300px] h-[1px] bg-slate-300"></span>
    <span
      class="absolute flex items-center justify-center bg-white rounded-full w-[30px] h-[30px]"
      >or</span
    >
  </span>
  <form class="w-full" (ngSubmit)="register($event)">
    <div class="flex flex-col gap-2 items-center justify-center">
      <input
        (input)="authError = false"
        id="email"
        name="email"
        [(ngModel)]="credentials.email"
        type="email"
        class="w-full h-[40px] border-1 border-slate-400 rounded-md p-2"
        placeholder="Email"
        required
      />
      <input
        (input)="authError = false"
        id="password"
        name="password"
        [(ngModel)]="credentials.password"
        type="password"
        class="w-full h-[40px] border-1 border-slate-400 rounded-md p-2"
        placeholder="Password"
        required
      />
      <input
        (input)="authError = false"
        id="passwordConfirmation"
        name="passwordConfirmation"
        [(ngModel)]="passwordConfirmation"
        type="password"
        class="w-full h-[40px] border-1 border-slate-400 rounded-md p-2"
        placeholder="Password"
        required
      />
      <div
        *ngIf="authError"
        class="w-full h-[40px] border-1 border-red-400 text-red-400 rounded-md p-2"
      >
        {{ error }}
      </div>
      <button
        type="submit"
        class="w-full h-[40px] bg-[#2E6969] text-white rounded-md"
      >
        Create Account
      </button>
    </div>
  </form>
</div>
